<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/components/AttendeeDashboard/style.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../../public/logo.png" alt="logo" class="logo">
            <span class="mob-tablet-logo-header">Question Box</span>
        </div>
        <div class="hamburger">
            <div class="linel1"></div>
            <div class="linel2"></div>
            <div class="linel3"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="<%= data?.attendee_id %>/attendee?&product=<%= data?.attendee_id %>" onclick="f()" class="active">Home</a></li>
            </ul>
            <ul>
                <li><input class="search-bar" type="search" placeholder="Search"></li>
            </ul>
            <ol>
                <li><a href="/logout">Logout</a></li>
            </ol>
        </nav>
    </header>

    <main>
        <h1>This is Feedback</h1>
        <section class="search-bar-mob">
            <input class="search-bar" type="search" placeholder="Search">
        </section>
        <div class="card_collection">
            <% for (let Set of data.questionSet){ %>
            <a href="/AttendeeFeedback?owner_id=<%= Set?.owner_id %>&Set_id=<%= Set?._id %>&attendee_id=<%= data?.attendee_id %>" class="card_container">
                <div>
                    <img src="../../public/cover3.png" alt="man">
                    <h2 class="card_heading"><%= Set?.QuestionSetName %></h2>
                    <h2 class="card_heading"><%= Set?.owner_id %></h2>
                    <h2 class="card_heading"><%= Set?._id %></h2>
                </div>
            </a>
            <% } %>

        </div>


    </main>

</body>
</html>