<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/components/CreatorQuestionSets/style.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../../public/logo.png" alt="logo" class="logo">
            <span class="mob-tablet-logo-header">Question Box</span>
        </div>
        <div class="hamburger">
            <div class="linel1"></div>
            <div class="linel2"></div>
            <div class="linel3"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="/CreatorAnalysisDashboard?product=<%= data?.o_id %>" onclick="f()">Analysis</a></li>
            </ul>
            <ol>
                <li><a href="/logout">Logout</a></li>
            </ol>
        </nav>
    </header>

    <main>
        <div class="card_collection">
            <% for (let Set of data.questionSet){ %>
            <a href="/question?owner_id=<%= Set?.owner_id %>&Set_id=<%= Set?._id %>"  class="card_container">
                <div>
                    <img src="../../public/cover3.png" alt="man">
                    <h2 class="card_heading"><%= Set?.QuestionSetName %></h2>
                </div>
            </a>
            <% } %>
        </div>

        <form class="card_container_plus" method="post" action="/createquestion?owner_id=<%= data?.o_id %>">
            <button>
                <img src="../../public/plus-icon.png" alt="man">
            </button>
        </form>
    </main>
    <script>

        const main = document.querySelector('.card_collection');
        const addcard = document.querySelector('.card_container_plus');
        
        const url = new URL(window.location.href); // Get the current URL
        const searchParams = new URLSearchParams(url.search); // Extract query parameters
        console.log(url)
        console.log(searchParams.product)

        // addcard.addEventListener('click', () => {     
        //     // fetch('/createquestion',{
        //     //     method: "post",
        //     //     body:{
        //     //         create:true
        //     //     }
        //     // })
        //     const newcard = document.createElement('div');
        //     newcard.classList.add('card_container');
        //     newcard.innerHTML =`
        //         <div>
        //             <img src="../../public/cover3.png" alt="man">
        //             <h2 class="card_heading">C++ Quiz</h2>
        //         </div>
        //         `;
        //     main.appendChild(newcard);
        // });
        </script>
</body>
</html>